.lightbox-leicster-comment-tags{
	float:left;
	margin-top:10px;
}


#current-tags span{
	padding: 3px 0;
	display: block;
}


.current-leicster-comment-tags{

}

.current-leicester-comment-tags a::after{
	content : ',\0000a0';
}
.current-leicester-comment-tags a:last-child::after{
	content: '\0000a0';
}


.current-leicester-comment-tags{
	clear:both;
	display:block;
	font-size:90%;
	margin-left:0;
	margin-top:10px;
	padding-bottom:0;
	margin-bottom:0;
	text-align:left;
	width:385px;
}

.small-button:hover{
	cursor: pointer;
}


#lightbubble-leicester-comment-tags{
	position: absolute;
	padding: 5px;
	display:none;
	
	font-size:auto;
	border-style:auto;
	color:auto;
	text-align:auto;
	font-size:auto;
	font-weight:auto;
	color: black;
}

#lightbubble-leicester-comment-tags{
	margin-left:-135px !important;
	margin-top:-70px !important;
}

#lightbubble-leicester-comment-tags .bubble{
	font-style:normal;
	margin:0;
	padding:0px 0 0 0px !important;
	position:relative;
	font-size: 100%;
}


#lightbubble-leicester-comment-tags  div.bubble cite {

	background:url("images/tip.gif") no-repeat scroll 3px 3px transparent!important;
	font-style:normal;
	left:130px!important;
	margin:0;
	padding:12px 9px!important;
	position:relative;
	top:6px !important;
}

#lightbubble-leicester-comment-tags  div.bubble{
	font-size: 100%;
}
.comment_tag{
	padding-right: 5px;
	clear: both;
	display: inline;
}
.tag_name{
	margin: 5px 0;
}
#lightbubble-leicester-comment-tags .small-button{
	clear:both;
	position: relative !important;
}


#lightbubble-leicester-comment-tags .small-button:hover{
	cursor: pointer;
}

#lightbubble-leicester-comment-tags input[type=submit]{
	display: none;
}
